.logo{
    
    background-image: url('assets/logo/image.png');
    height: 300px;
    width: 250px;
    background-color: red;
    background-position: center;
    background-size: contain;
}

.login{
    padding: 12px;
}