<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <div fxLayoutAlign="center start" fxLayout="column"  fxLayoutGap="gappx">
      <div class="topic" fxFlex>
        <h1>Account successfully activated!</h1>
      </div>

      <div  class="logo">
       
      </div>
    </div>

    <mat-divider
      [vertical]="true">
    </mat-divider>

    <div>
        <div class="login"  fxLayoutAlign="center center">
          <p>
            Login to explore
          </p>
          <button (click)="login()" mat-button>Login Now</button>
        </div>
    </div>
</div>