

<div *ngIf="data.term==='report'" fxLayout="row">
  <div fxFlex=20>
    <img width="100%" src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/240/2017/04/warning750.png" alt="">
  </div>
  <div fxFlex=80>
      <h5>Are you sure to you want to report this post?</h5>
  </div>
 
</div>

<div fxLayoutAlign="end space-around" fxLayout="row" fxFlexAlign="end">
    <mat-dialog-actions>
      <button class="accent-900" mat-raised-button (click)="reportThis()">Report Post</button>
        <button mat-raised-button class="warn-800" mat-dialog-close>
          Close
        </button>
      </mat-dialog-actions>
</div>