<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/logo/logo.svg">
        <span class="logo-text secondary-text">Artifex</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>

        </button>

        <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>

        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground" *ngIf="userDetails">
        <div *ngIf="!userDetails.userProfile" class="h3 username">Artifex User</div>
        <div *ngIf="userDetails.userProfile" class="h3 username">{{userDetails.userProfile.displayName}}</div>
        <div *ngIf="userDetails.userProfile" class="h5 email hint-text mt-8">{{userDetails.user.email}}</div>
        <!-- <div class="h5 email hint-text mt-8">{{email}}</div> -->
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">

            <div class="accent avtar-div">
                <img *ngIf="userDetails.userProfilePicture" class="avatar" [src]="userDetails.userProfilePicture.imageUrl">
                <img *ngIf="!userDetails.userProfilePicture" class="avatar" src="../../../../../../assets/images/avatars/profile.jpg">
            </div>


        </div>


    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>


<div class="p-12 releasenote" id="releasenote">

    <mat-chip-list aria-label="New Release">

        <mat-chip style="font-size: 12px" color="accent" selected>Check what's new of version R 0.1.2</mat-chip>
    </mat-chip-list>
    <!-- <a style="font-size: 12px" ><b>Bit from changelog version R 0.1.2</b></a> -->
    <p class="hint-text " align="justify" style="font-size: 11px">

        Most significant feature introduced in release 0.1.2 is the capability to develop awsome comics. Keep your fingers crossed more awsome features yet to come. Enjoy!! From Team Artifex ❤️.
    </p>

</div>