.ImagePreview{
    
  //height: 550px;
    background-color: black ;
    padding: 0;
   // display: inline-flex;
}

.details{
    background-color: white;
    width: 35%;
    display: inline-block;
    position: absolute;

}